.container {
  padding: 20px;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 20px;
}
.title {
  font-size: 18px;
  color: #d1411e;
  font-weight: bold;
}
.price {
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
.desc {
  text-align: center;
  columns: #777;
}
